@import "settings";
@import "foundation.scss";

.menu {
  margin-top: rem-calc(4px);
  margin-bottom: rem-calc(4px);
}

header {
  @include grid-row;

  .logo  { @include grid-column($columns:3, $center:true); }
  padding-bottom: em-calc(10px);

}

footer {
  font-size: 80%;
  img {
    padding-top: rem-calc(4px);
  }
}


.main-content {
  @include grid-row;

  aside  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:3);
    // }
  }

  article  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:8, $offset: 1);
    // }
  }

}
