<% wrap_layout :layout do %>

    <%= partial("partials/_banner", :locals => { :imageTitle => current_page.data.title, :imageSrc => current_page.data.immagine }) %>

    <div class="row">
        <div class="large-9 columns">
            <h1 class="subheader"><%= current_page.data.title %></h1>

            <%= yield %>
        </div>

        <%= partial("partials/_sidebar") %>

    </div>
<% end %>