<% wrap_layout :layout do %>

    <div class="row">
    <hr>
        <div class="large-9 columns">
            <h1 class="subheader"><%= current_page.data.title %></h1>

            <%= yield %>
        </div>

        <%= partial("partials/_sidebar") %>

    </div>
<% end %>