<div class="row menu">
  <div class="large-12 columns">
    <div class="hide-for-small">
      <div id="featured"><img alt="<%= "#{imageTitle}" %>" src="<%= "#{imageSrc}" %>"></div>
    </div>
  </div>
</div>