<div class="large-3 columns">
    <h3 class="subheader">Sperimentazioni:</h3>
    <% find_resource_by_path('^percorsi/*', 'ordine').each do |resource| %>
        <div class="panel radius">
            <% link_to "/#{resource.path}" do %>
                <img src= <%= resource.data.logo %> />
            <% end %>
        </div>
    <% end %>
</div>