<h5 class="subheader">Rimani aggiornato!</h5>
<a href="https://www.facebook.com/pages/Incontri-ravvicinati/530089903777060" target="_blank">
    <div class="panel radius callout" style="text-align: center">
        <strong><i class="fa fa-facebook"></i> Seguici su FaceBook!</strong>
    </div>
</a>
