<h5 class="subheader">Rimani aggiornato!</h5>
<a href="#">
    <div class="panel radius callout" style="text-align: center">
        <strong><i class="fa fa-facebook"></i> Seguici su FaceBook!</strong>
    </div>
</a>
