---
title: Biblioteche in rete a San Vittore
immagine: http://lh6.googleusercontent.com/-nts78K3CvBc/UxUCM3Ba3bI/AAAAAAAAh5U/glywW_6_yrw/w1058-h504-no/cartolin_Biblioteche_sanvittore.png
logo: http://lh4.googleusercontent.com/-SUyfahvtNiM/Uxnvf6iT4XI/AAAAAAAAh-o/pbIvxOCnbIs/w920-h693-no/san_vittore_titolo.png
biblioteca: CENTRO SERVIZI BIBLIOTECHE RIONALI
indirizzo: <i>Via Sant’Erlembaldo 4 - Padiglione Morteo</i><br /> Tel 02.88462400 - 02.88462417
pdf: cartolina_Biblioteche_in_rete.pdf
ordine: 5
---

<h5 class="subheader"><i>A cura di: Centro Servizi Biblioteche Rionali, Fondazione Caritas Ambrosiana, Fondazione Casa della carità A. Abriani, Fondazione Culturale San Fedele, Sesta Opera San Fedele e Associazione Gruppo Carcere Mario Cuminetti.</i></h5>

<p>
    Biblioteche in rete a San Vittore è un viaggio che, attraverso le parole di oggi, i libri, le voci e gli interessi dei detenuti, incoraggia la partecipazione dei cittadini alla concreta strutturazione di un Sistema bibliotecario interno al carcere. Con l’obiettivo di dotarlo di procedure, norme e criteri in linea con gli standard bibliotecari cittadini e di attivare risorse e canali di interazione con le biblioteche della città e i suoi frequentatori. Ogni azione è occasione di scambio e confronto con il mondo esterno e favorisce la responsabilizzazione dei detenuti e della collettività nei confronti della realtà carceraria.
</p>

<h5 class="subheader small"><i>Si ringrazia per la collaborazione: GC Soluzioni Informatiche.</i></h5>