---
title: Biblioteca finestra sul mondo
immagine: http://lh5.googleusercontent.com/-IfK_3WGHPCc/UxUALLkIGpI/AAAAAAAAh4c/kEI9adoxc64/w1058-h504-no/cartolin_Biblioteca_finestra.png
logo: http://lh4.googleusercontent.com/-Z3Z0ZRNFfDs/UxWq7Db-g3I/AAAAAAAAh7s/ufIXkWI8QuY/w441-h358-no/logo_finestra_monodo.png
biblioteca: Biblioteca GALLARATESE
indirizzo: <i>Via Quarenghi 21 - Zona 8</i><br /> Tel 02.88464270 - c.bibliogallaratese@comune.milano.it
orario:
    testo:  <i> lunedì-sabato</i> 9.00-19.15<br />
            <i> mercoledì</i> 14.00-19.15
    note: da lunedì a venerdì la biblioteca rimane aperta come sala di lettura fino alle 22.00
mezzi: M1 (Uruguay-Bonola), 40, 68, 69, 80
---

<h5 class="subheader"><i>A cura di: Biblioteca Gallaratese, Fate Artigiane e Soleterre.</i></h5>

<p>
    Biblioteca finestra sul mondo si rivolge alle comunità migranti, con una particolare attenzione alle famiglie, alle donne e alle badanti di origine straniera che vivono il quartiere e frequentano la biblioteca. L’obiettivo è promuovere coesione sociale favorendo l’accesso e la partecipazione attiva dei cittadini stranieri alle risorse e alla promozione culturale della biblioteca. Un fitto palinsesto di incontri interculturali, da tenersi in biblioteca, nelle scuole, in museo e sul territorio, ha il duplice scopo di fornire occasioni di scambio, confronto e condivisione e di sostenere la genitorialità e i ricongiungimenti familiari attraverso la comunicazione a distanza e il potenziamento del servizio skype.
</p>

<h5 class="subheader"><i>Si ringrazia per la collaborazione: COOP Lombardia Società Cooperativa.</i></h5>
