---
title: Dentro e Fuori
immagine: http://lh6.googleusercontent.com/-JGJGdkhitVw/UxUCNN8VttI/AAAAAAAAh5Q/baPCLfuMJVs/w1058-h504-no/cartolin_Dentro_e_fuori.png
logo: http://lh5.googleusercontent.com/-QcZScs_0cbk/UxWq7G4wvRI/AAAAAAAAh8I/Y-Yccx_e6wQ/w442-h369-no/logo_dentro_fuori.png
biblioteca: Biblioteca FRA CRISTOFORO
indirizzo: <i>Via Fra Cristoforo 6 - Zona 5</i><br /> Tel. 02884 65806 - c.bibliofracristoforo@comune.milano.it
orario:
    testo:  <i> lunedì, mercoledì, venerdì</i> 9.00-19.15<br />
            <i> martedì, giovedì, sabato</i> 9.00-14.15
    note:
mezzi: M2 (Famagosta), 3, 15, 59, 95
pdf: cartolin_Dentro_e_fuori.pdf
---

<h5 class="subheader"><i>A cura di: Biblioteca Fra Cristoforo e Fratelli dell’Uomo.</i></h5>

<p>
    Dentro e fuori la biblioteca indirizza la propria azione alle mamme ospitate, insieme ai loro figli da 0 a 3 anni, nell’Istituto di Custodia Attenuata per le Madri detenute (ICAM). Attraverso i laboratori di narrazione Entriamo dalla finestra e Storie aperte, gli incontri di scrittura autobiografica Mamme che raccontano e l’ascolto musicale precoce per i bambini, si vuole favorire il processo identitario delle madri, la relazione con i figli e il legame con la collettività interna ed esterna, attivando il confronto su modi diversi di cura dell’infanzia e instaurando atteggiamenti di apertura e dialogo.
</p>
