---
title: Dentro e Fuori la Biblioteca
immagine: http://lh6.googleusercontent.com/-JGJGdkhitVw/UxUCNN8VttI/AAAAAAAAh5Q/baPCLfuMJVs/w1058-h504-no/cartolin_Dentro_e_fuori.png
logo: http://lh3.googleusercontent.com/-8FTn_L3d764/Uxnve5-55sI/AAAAAAAAh-U/wmvulOtwkUU/w820-h693-no/dentro_fuori_titolo.png
biblioteca: Biblioteca FRA CRISTOFORO
indirizzo: <i>Via Fra Cristoforo 6 - Zona 5</i><br /> Tel. 02884 65806 - <a href="mailto:c.bibliofracristoforo@comune.milano.it" target="_blank">c.bibliofracristoforo@comune.milano.it</a>
orario:
    testo:  <i> lunedì, mercoledì, venerdì</i> 9.00-19.15<br />
            <i> martedì, giovedì, sabato</i> 9.00-14.15
    note:
mezzi: M2 (Famagosta), 3, 15, 59, 95
pdf: cartolina_Dentro_e_fuori.pdf
ordine: 3
---

<h5 class="subheader"><i>A cura di: Biblioteca Fra Cristoforo e Fratelli dell’Uomo.</i></h5>

<p>
    Dentro e fuori la biblioteca indirizza la propria azione alle mamme ospitate, insieme ai loro figli da 0 a 3 anni, nell’Istituto di Custodia Attenuata per le Madri detenute (ICAM). Attraverso i laboratori di narrazione Entriamo dalla finestra e Storie aperte, gli incontri di scrittura autobiografica Mamme che raccontano e l’ascolto musicale precoce per i bambini, si vuole favorire il processo identitario delle madri, la relazione con i figli e il legame con la collettività interna ed esterna, attivando il confronto su modi diversi di cura dell’infanzia e instaurando atteggiamenti di apertura e dialogo.
</p>
