---
title: Lasciami andare
immagine: http://lh6.googleusercontent.com/-enf8uBLl1zE/UxUCO-hM9NI/AAAAAAAAh5c/-pSmOu1aEL8/w1058-h504-no/cartolin_Lasciami_andare.png
logo: http://lh6.googleusercontent.com/-u7MqIBHUD2M/Uxnve3ZkgEI/AAAAAAAAh-Y/SPnlEdSTTQ0/w1030-h693-no/lasciami_andare_titolo.png
biblioteca: Biblioteca OGLIO
indirizzo: <i>Via Oglio 18 - Zona 4</i><br /> Tel. 02884 62971 - <a href="mailto:c.bibliooglio@comune.milano.it" target="_top">c.bibliooglio@comune.milano.it</a>
orario:
    testo:  <i> lunedì-sabato</i> 9.30-19.45<br />
            <i> mercoledì</i> 14.00-19.45
    note:
mezzi: M3 (Brenta / Corvetto), 77, 84, 93, 95
pdf: cartolina_Lasciami_andare.pdf
ordine: 2
---

<h5 class="subheader"><i>A cura di: Biblioteca Oglio, Istituto Comprensivo “Cavalieri” di Milano e Teatro La Madrugada.</i></h5>

<p>
    Lasciami andare si rivolge ai ragazzi ospiti dell’Istituto Penale Minorile Cesare Beccaria e ai loro coetanei residenti nella zona sud-ovest di Milano per favorirne l’integrazione e la coesione sociale. Si articola in due azioni: la prima, a partire da laboratori tematici di lettura/scrittura, multimedialità e arte/immagine, da tenersi sia in I.P.M. sia all’esterno, crea una rete con le Istituzioni e le Associazioni. La seconda realizza laboratori di dialogo, tra i ragazzi dell’Istituto e i loro coetanei “liberi”, nei quali le parole si traducono in immagini che esprimono e comunicano in modo efficace il loro immaginario e che potranno poi viaggiare ed essere viste in diversi luoghi della città.
</p>

<h5 class="subheader"><i>Si ringraziano per la collaborazione: Rotary Club, Sead (Servizio Educativo Adolescenti in Difficoltà), Associazione Suoni sonori, Associazione Bambini in Romania.</i></h5>