---
title: Oltre il Muro
immagine: https://lh6.googleusercontent.com/-L-RVNUQaowc/UxUCQxV6a7I/AAAAAAAAh5k/yC0g9RqD4lw/w1058-h504-no/cartolin_Oltre_il_muro.png
logo: http://lh5.googleusercontent.com/-ODz2G80VLbo/UxWq7wp96eI/AAAAAAAAh7k/WMubXBrCQ9E/w438-h348-no/logo_oltre_muro.png
biblioteca: Biblioteca PARCO SEMPIONE
indirizzo: <i>Via Cervantes (zona Montetordo) - Zona 1</i><br /> Tel. 02.88465812 - c.biblioparco@comune.milano.it
orario:
    testo:  <i> martedì, giovedì</i> 9.30-14.30<br />
            <i> mercoledì, venerdì</i> 14.00-19.00<br />
            <i> sabato</i> 10.30-18.30
    note:
mezzi: M2 (Lanza / Moscova), 1, 3, 4, 12, 14, 43, 57, 60, 70, 94
pdf: cartolin_Oltre_il_muro.pdf
---

<h5 class="subheader"><i>A cura di: Biblioteca Parco Sempione, ABCittà e Teatro La Madrugada.</i></h5>

<p>
    Oltre il muro vuole creare dialogo e confronto tra due realtà, la città e il carcere, normalmente separate da uno spesso strato di isolamento e pregiudizio. Con Biblioteca Vivente fuori e dentro i detenuti del Carcere di Bollate diventeranno “libri umani” in una sfida agli stereotipi carcerari, mentre nei laboratori di scrittura Ti prendo in parola le parole dei reclusi si intrecceranno con quelle dei cittadini “liberi” viaggiando dentro e fuori dal carcere. Biblioteca e carcere saranno luoghi di incontro che offriranno, a detenuti e non, l’occasione di conoscersi e interagire attraverso modalità non convenzionali, al di là dei luoghi comuni.
</p>

<h5 class="subheader"><i>Si ringrazia la Casa di Reclusione di Bollate per l’adesione alla sperimentazione “Oltre il muro”.</i></h5>