---
title: Incontri ravvicinati - Colmare le distanze in biblioteca si può
---

<%= partial("partials/_banner", :locals => { :imageTitle => 'Incontri ravvicinati', :imageSrc => "http://lh5.googleusercontent.com/-o-yrIH3Z-h4/UxUD-hWpBDI/AAAAAAAAh6A/2daOqej41VA/w1058-h504-no/home.png" }) %>




<div class="row">
    <div class="large-12 columns">
        <h1>In biblioteca e attraverso la biblioteca</h1>
        <h4 class="subheader">
            <strong>5 Canali di dialogo</strong> tra la città e realtà che vivono situazioni di isolamento e disagio
        </h4>
    </div>

</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel radius">
          <div class="row">
            <div class="large-6 small-6 columns">
              <h3>Incontri ravvicinati</h3>
              <hr>
              <h4 class="subheader"><i>Colmare le distanze, sfatare i pregiudizi: in biblioteca si può.</i> Le biblioteche diventano “luoghi concreti di incontro” e cantieri culturali</h4>
            </div>

            <div class="large-6 small-6 columns">
              <p>
                  A cimentarsi nell’impresa <strong>cinque “squadre” bibliotecarie</strong> ognuna delle quali, a partire dalla comunità territoriale di riferimento e avvalendosi dell’apporto prezioso di partners dell’associazionismo no profit, indirizza le proprie sperimentazioni ad una diversa realtà cittadina. <strong>Ogni azione punta al raggiungimento di risultati</strong>, alcuni concreti e visibili – servizi, eventi, allestimenti, prodotti artistici, letterari, multimediali – altri intangibili, ma altrettanto pregnanti, fatti di emozioni e situazioni: in ogni caso tracce feconde e vitali <strong>destinate a sconfinare oltre i limiti temporali e tematici del progetto</strong>.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="row">
  <div class="large-12 columns">

    <ul class="small-block-grid-2">
        <% find_progetti('^percorsi/*').each do |resource| %>
        <li>
            <% link_to "/#{resource.path}" do %>
                <img src= <%= resource.data.immagine %> />
            <% end %>

            <h6 class="panel">
                <%= resource.data.biblioteca %>
            </h6>
        </li>

        <% end %>

        <li>
            <h4>Rimani aggiornato!</h4>
            <hr>
            <a href="#">
            <div class="panel radius callout" style="text-align: center">
              <strong><i class="fa fa-facebook"></i> Seguici su FaceBook!</strong>
            </div></a> <a href="#">
            <div class="panel radius callout" style="text-align: center">
              <strong><i class="fa fa-pencil"></i> Scrivi a info@incontri-ravvicinati.it!</strong>
            </div></a>
          </div><!-- End Content -->
        </li>
    </ul>
  </div>
</div>