---
title: Incontri ravvicinati - Colmare le distanze in biblioteca si può
---

<%= partial("partials/_banner", :locals => { :imageTitle => 'Incontri ravvicinati', :imageSrc => "http://lh5.googleusercontent.com/-o-yrIH3Z-h4/UxUD-hWpBDI/AAAAAAAAh6A/2daOqej41VA/w1058-h504-no/home.png" }) %>




<div class="row">
    <div class="large-12 columns">
        <h1>01 І 2014 > 06 І 2015</h1>
    </div>

</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel radius">
          <div class="row">
            <div class="large-6 small-6 columns">
              <h3>Incontri ravvicinati</h3>
              <hr>
              <h4 class="subheader"><i>5 biblioteche del Sistema urbano di Milano</i> diventano luoghi di incontro e cantieri culturali dove.</h4>
            </div>

            <div class="large-6 small-6 columns">
                <p>
                    I pregiudizi si convertono in conoscenza e tolleranza. Una fitta rete di azioni orientate a costruire in biblioteca e attraverso la biblioteca canali di dialogo tra la città e realtà che vivono situazioni di isolamento e disagio.
                </p>
                <p>
                    Lungo il percorso emozioni, eventi, inedite occasioni  di confronto, destinate a lasciare tracce feconde e vitali oltre i limiti del progetto.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="row">
  <div class="large-12 columns">

    <ul class="small-block-grid-2">
        <% find_resource_by_path('^percorsi/*', 'ordine').each do |resource| %>
        <li>
            <% link_to "/#{resource.path}" do %>
                <img src= <%= resource.data.immagine %> />
            <% end %>

            <h6 class="panel">
                <%= resource.data.biblioteca %>
            </h6>
        </li>

        <% end %>

        <li>
              <div class="fb-like-box" data-href="https://www.facebook.com/pages/Incontri-ravvicinati/530089903777060" data-width="450" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
        </li>
    </ul>
  </div>
</div>