---
title: Welcome to Middleman
---

<div class="row">
  <div class="large-12 columns">
    <!-- Navigation -->

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <!-- Title Area -->

        <li class="name">
          <h1><a href="#">Top Bar Title</a></h1>
        </li>

        <li class="toggle-topbar menu-icon">
          <a href="#"><span>menu</span></a>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li>
            <a href="#">Il Progetto</a>
          </li>

          <li>
            <a href="#">Protagonisti</a>
          </li>
          <li>
            <a href="#">Contatti</a>
          </li>
        </ul>

      </section>
    </nav><!-- End Navigation -->
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <!-- Desktop Slider -->

    <div class="hide-for-small">
      <div id="featured"><img alt="slide image" src="http://lh5.googleusercontent.com/-o-yrIH3Z-h4/UxUD-hWpBDI/AAAAAAAAh6A/2daOqej41VA/w1058-h504-no/home.png"></div>
    </div><!-- End Desktop Slider -->
    <!-- Mobile Header -->

    <div class="row">
      <div class="small-12 show-for-small"><br>
      <img src="http://placehold.it/1000x600&amp;text=For%20Small%20Screens"></div>
    </div><!-- End Mobile Header -->
  </div>
</div><br>

<div class="row">
    <div class="large-12 columns">
        <p>
            Costruiamo in biblioteca e attraverso la biblioteca canali di dialogo tra la città e realtà che vivono situazioni di isolamento e disagio
        </p>
    </div>

</div>

<div class="row">
  <div class="large-12 columns">

    <ul class="small-block-grid-2">
        <li>
            <img src="https://lh6.googleusercontent.com/-L-RVNUQaowc/UxUCQxV6a7I/AAAAAAAAh5k/yC0g9RqD4lw/w550-no/cartolin_Oltre_il_muro.png">

            <h6 class="panel">Oltre il muro</h6>
        </li>
        <li>
            <img src="http://lh6.googleusercontent.com/-enf8uBLl1zE/UxUCO-hM9NI/AAAAAAAAh5c/-pSmOu1aEL8/w550-no/cartolin_Lasciami_andare.png">

            <h6 class="panel">Lasciami andare</h6>
        </li>
        <li>
            <img src="http://lh6.googleusercontent.com/-JGJGdkhitVw/UxUCNN8VttI/AAAAAAAAh5Q/baPCLfuMJVs/w550-no/cartolin_Dentro_e_fuori.png">

            <h6 class="panel">Dentro e fuori la biblioteca</h6>
        </li>
        <li>
            <img src="http://lh5.googleusercontent.com/-IfK_3WGHPCc/UxUALLkIGpI/AAAAAAAAh4c/kEI9adoxc64/w550-no/cartolin_Biblioteca_finestra.png">

            <h6 class="panel">Biblioteca finestra sul mondo</h6>
        </li>
        <li>
            <img src="http://lh6.googleusercontent.com/-nts78K3CvBc/UxUCM3Ba3bI/AAAAAAAAh5U/glywW_6_yrw/w550-no/cartolin_Biblioteche_sanvittore.png">

            <h6 class="panel">Biblioteche in rete a San Vittore</h6>
        </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <!-- Content -->

      <div class="large-8 columns">
        <div class="panel radius">
          <div class="row">
            <div class="large-6 small-6 columns">
              <h4>Header</h4>
              <hr>

              <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec
              dignissim nibh fermentum odio ornare sagittis.</h5>

              <div class="show-for-small" style="text-align: center">
                <a class="small radius button" href="#">Call To Action!</a><br>
                <a class="small radius button" href="#">Call To Action!</a>
              </div>
            </div>

            <div class="large-6 small-6 columns">
              <p>Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus non ipsum eros. Vivamus
              at dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada nec ligula. Nullam erat
              erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor. Aenean eget ultricies libero.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="large-4 columns hide-for-small">
        <h4>Get In Touch!</h4>
        <hr>
        <a href="#">
        <div class="panel radius callout" style="text-align: center">
          <strong>Call To Action!</strong>
        </div></a> <a href="#">
        <div class="panel radius callout" style="text-align: center">
          <strong>Call To Action!</strong>
        </div></a>
      </div><!-- End Content -->
    </div>
  </div>
</div><!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr>

    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>

      <div class="large-6 columns">
        <ul class="inline-list right">
          <li>
            <a href="#">Link 1</a>
          </li>

          <li>
            <a href="#">Link 2</a>
          </li>

          <li>
            <a href="#">Link 3</a>
          </li>

          <li>
            <a href="#">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>